# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Mac related files
.DS_Store

# Environments
.env
.venv

# IDE files
.vscode/
.idea/

# Logs
*.log
logs/

# Temporary files
tmp/
temp/
.tmp/
